.custom-a {
    color: black;
}
.custom-a:hover {
    color: black;
}
#help {
	margin-left: 12px;
}
#mobileoffice {
    margin-left: 10px;
}
#csv {
    margin-left: 35px;
}
#labels {
    margin-left: 58px;
}
#scan {
    margin-left: 35px;
}
#publish {
    margin-left: 38px;
}
#support {
    border-left: 1px solid #cccccc;
    overflow: auto;
    height: 100%;
}
.footer-jumbotron {
    margin-bottom: 0;
}
ul.footer {
    width: 35%;
    margin: auto;
}
ul.footer > li {
    float: left;
    margin-left: 5px;
    margin-right: 20px;
}ul.footer > li.first {
     list-style: none;
 }
ul.footer > li.copy {
    list-style: none;
}
.custom-container-fuild {
    width: 100%;
    background-color: #eee;
    overflow: auto;
    height: 100%;
}
.custom-container {
    background-color: #fff;
    border: 1px solid #cccccc;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 1px #cccccc;
    -moz-box-shadow: 0 0 1px #cccccc;
    -webkit-box-shadow: 0 0 1px #cccccc;
}
.sidebar {
    border: none;
    margin-top: 0;
}
.sidebar ul {
    border: none;
}
.nav-pills > li > a {
    width: 117%;
    margin-left: -20px;
}
.nav-pills > li > a:hover {
    width: 117%;
    margin-left: -20px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #428bca;
    width: 117%;
    margin-left: -20px;
}