body {
	padding-top: 70px;
}
@media (min-width: 128px) and (max-width: 200px)
{
	
	body {
		padding-top: 30px; 
		font-size: 22px;
	}
	.container {
		padding: 0;
		width: 70%;
	}

}
@media (min-width: 201px) and (max-width: 250px)
{
	body {
		padding-top: 30px;
		font-size: 22px;
	}
}
@media (min-width: 251px) and (max-width: 1000px) {
	body {
		padding-top: 30px;
		font-size: 22px;
	}
	.custom-col1 {
		float: left;
	}
}
@media (min-width: 601px) and (max-width: 700px) {
	.custom-col1 {
		float: left;
	}
}
@media (min-width: 701px) and (max-width: 800px) {
	.col-md-2 {
		width: 33%;
		float: left;
	}
	.col-md-6 {
		width: 52.5%;
		float: left;
	}
	.custom-col1 {
		float: left;
	}
	.col-md-offset-5 {
		margin-left: 40%;
	}
}
@media (min-width: 801px) and (max-width: 991px) {
	.col-md-2 {
		width: 33%;
		float: left;
	}
	.col-md-6 {
		width: 53.5%;
		float: left;
	}
	.custom-col1 {
		float: left;
	}
	.col-md-offset-5 {
		margin-left: 40%;
	}
}
@media (min-width: 992px) and (max-width: 1000px) {
	.col-md-offset-2 {
		margin-left: 5%;
	}
	.col-md-2 {
		width: 28%;
		float: left;
	}
	.col-md-6 {
		width: 53.5%;
		float: left;
	}
	.custom-col1 {
		float: left;
	}
	.col-md-offset-5 {
		margin-left: 40%;
	}
}
@media (min-width: 1001px) and (max-width: 1199px) {
	.col-md-offset-2 {
		margin-left: 10%;
	}
	.col-md-2 {
		width: 20%;
		float: left;
	}
	.col-md-6 {
		width: 53.5%;
		float: left;
	}
}